<!-- //_robotCard.mustache -->

<article class="userCard">
  <div class="cardHead">
    <div class="avatar">
      <img class="pic" src="{{avatar}}" alt="{{name}}">
    </div>
    <div class="stats">
      <h1> {{name}} </h1>
      <p> {{location}} | {{company}} </p>
      <p> {{email}} | {{phone}} </p>
    </div>
  </div>
  <div class="hireFor">
    <p> Education: {{university}} </p>
    <div class="rSkills">
      <p> Skills: </p>
      <ul>
        <li> {{skills}} </li>
      </ul>
    </div>
  </div>
</article>
